<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Dinetap Local Automation Suite">

    <test name="Splash Screen Test">
        <classes>
            <class name="tests.SplashScreenTest"/>
        </classes>
    </test>



    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>








</suite>
